<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLEOS - Catálogo</title>
    <link rel="stylesheet" href="Layout 2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h1>KLEOS</h1>
            <ul>
                <p>Catálogo</p>
                <li><a href="C:\Users\Usuario\OneDrive\Escritorio\Pagina web entregable 1\Log in\Log in.html"><i class="fa-solid fa-user"></i> Perfil</a></li>
                <li><a href="#"><i class="fa-solid fa-heart"></i> Favorito</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i> Compras</a></li>
                <li class="category">
                    <h2>Categoria</h2>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-shoe-prints"></i>Calzado</a></li>
                        <li><a href="#"><i class="fa-solid fa-shirt"></i>Ropa</a></li>
                        <li><a href="#"><i class="fa-solid fa-mountain"></i>Accesorios</a></li>
                        <li><a href="#"><i class="fa-solid fa-ticket"></i>Promociones</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar">
            </div>
            <div class="product-banner">
                <div class="banner-content">
                    <br>
                    <h2>Balon Voleiplaya Profesional</h2>
                    <p>Cubierta: Cuero PUDiseño: 18 Paneles Estructura: Coside a MaquinaCámara de Aire: DutiloSuperficie:
                        LianTamaño: Playa Oficial</p>
                    <button>Ordenar ya</button>
                </div>
                <div class="banner-image">
                    <img src="./Proyecto Quitar fondo (3).png" alt="Balón de Voleiplaya">
                </div>
            </div>
            <div class="product-banner-img">
                <h1>DESCUBRE MÁS</h1>
            </div>
            <div class="products">
                <div class="filters">
                    <button class="active">Recomendado</button>
                    <button>Popular</button>
                    <button>Ofertas %</button>
                    <button>Filtro</button>
                </div>
                <div class="product-grid" id="products">
            
                </div>
            </div>
        </div>
    </div>
    <script src="./Product.js"></script>
    <script src="./lista1.js"></script>
    <script src="./logica1.js"></script>
</body>

</html>