<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Producto.css">
</head>
</body>

</html>
</head>

<body>
    <div class="container">
        <div class="main-image">
            <img alt="Main Product Image" height="600"
                src="https://storage.googleapis.com/a1aa/image/KJi1wrBnHbLeFyaPfj7nCYCJwb0v8COnfbutWW9v0dlq8nLnA.jpg"
                width="400" />
        </div>
        <div class="right-column">
            <h1>
                Materiales sostenibles
            </h1>
            <h2>
                Nombre del producto
            </h2>
            <p>
                Descripción del producto
            </p>
            <div class="price">
                $0000
            </div>
            <div class="size-selection">
                <button>
                    XS
                </button>
                <button>
                    S
                </button>
                <button>
                    M
                </button>
                <button>
                    L
                </button>
                <button>
                    XL
                </button>
                <button>
                    XXL
                </button>
                <button>
                    3XL
                </button>
            </div>
            <button class="add-to-cart-button">
                Añadir a la cesta
            </button>
            <p class="free-pickup">
                Recogida gratuita
            </p>
        </div>
    </div>
</body>

</html>